body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #414142;
    position: relative;
    font-family: monospace;
    }

.container {
    width: 100%;
    height: 100%;
    display: -webkit-flex; /* For Chrome , Safari*/
    display: -ms-flex;/*For IE*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 30px;
    margin-bottom: 55px;
    text-align: center;
}

.btn-grp {
    display: -webkit-flex;/*For Chrome, Safari*/
    display: -ms-flex;/* For IE*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 10px;
}
.hide {
    display: none;
}

.icon{
    opacity: 0.7;
    font-size: 70px;
    cursor: pointer;
}

#start {
    
    color: #435f7a;
    cursor: pointer;
    opacity: .5;
    margin-bottom: 30px;
}
#start:hover {
    opacity: 1;
}

#cancel {
    color : #bfbfbf;
}
#cancel:hover {
    color: #999999;
}

#stop{
    color: #ff0000;;
}
#stop:hover {
    color: #cc0000;
}

#pause,#resume,#rpause{
    color: #ffff00;
}
#pause:hover,#resume:hover,#rpause {
    color:  #cccc00;
}

#rplay{
    color: #0000ff;
}
#rplay:hover {
    color: #0000cc;
}

#download{
    color: #00ff00  ;
}
#download:hover {
    color: #00cc00;
}

#elapsed-time {
    font-size: 32px;
    display: -webkit-flex;/*For Chrome, Safari*/
    display: -ms-flex;/* For IE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#player{
    width: 100%;
}

.red-recording-dot {
        font-size: 25px;
        color: red;
        margin-right: 12px;
        animation-name: recording-animation;
        -webkit-animation-name: recording-animation;
        -moz-animation-name: recording-animation;
        -o-animation-name: recording-animation;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
    }
    /* The animation code */
@keyframes recording-animation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
@-webkit-keyframes recording-animation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
@-moz-keyframes recording-animation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
@-o-keyframes recording-animation {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}

.text-indication-of-audio-playing-container {
        height: 20px;
    }
    .text-indication-of-audio-playing {
        font-size: 20px;
    }

    /* 3 Dots animation*/
    .text-indication-of-audio-playing span {
        /*transitions with Firefox, IE and Opera Support browser support*/
        animation-name: blinking-dot;
        -webkit-animation-name: blinking-dot;
        -moz-animation-name: blinking-dot;
        -o-animation-name: blinking-dot;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
    }
    .text-indication-of-audio-playing span:nth-child(2) {
        animation-delay: .4s;
        -webkit-animation-delay: .4s;
        -moz-animation-delay: .4s;
        -o-animation-delay: .4s;
    }
    .text-indication-of-audio-playing span:nth-child(3) {
        animation-delay: .8s;
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        -o-animation-delay: .8s;
    }
    /* The animation code */
    @keyframes blinking-dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    /* The animation code */
    @-webkit-keyframes blinking-dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    /* The animation code */
    @-moz-keyframes blinking-dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    /* The animation code */
    @-o-keyframes blinking-dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }